@charset "UTF-8";
/*Background Image*/
/*hi*/
#Main_Page_Body
{
	background-image:url(../Images/ButterflyBackground.gif);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
/*Heading 6*/
#title
{
	font-family: Papyrus;
	font-size:5em;
	text-align:left;
	margin:0px;
}
/*Social Network Table Styling*/
.Social_Network_Table_Data
{
	width:20%;
	position:relative;
}
.Social_Network_Table_Data:after
{
/*I don't know what this is but it works and it's for the picture table*/
    content:'';
    display:block;
    margin-top:100%;
}
#Social_Network_Table
{
	position:absolute;
	width:30%;
	top:5px;
	right:30px;
	border-spacing:20px;
}
.Social_Network_Picture
{
	position:absolute;
    top:15px;
    bottom:0;
    left:0;
    right:0;
	height:40%;
	width:100%;
	
}
/*Heading 3*/
h3
{
	font-family: Harrington;
	font-size: 1em;
	text-align:right;
	margin:0px;
}
/*Past Places Button Styling*/
#Past_Places_Button
{
	font-family:cursive;
	font-size:25px;
}

/*Picture Table styling*/
#Picture_Table
{
	width:65%;
	position:absolute;
	bottom:10px;
	right:10px;	
}
.Picture_Table_Data
{
	width:20%;
	position:relative;
}
.Picture_Table_Data:after
{
/*I don't know what this is but it works and it's for the picture table*/
    content:'';
    display:block;
    margin-top:100%;
}
.Picture_Table_Image
{
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
	height:100%;
	width:100%;
	border-radius:35%;
}
/*PAST PLACES STLYING---PAST PLACES STLYING---PAST PLACES STLYING---PAST PLACES STLYING---PAST PLACES STLYING*/
/*Past Places Table*/
#Past_Places_Table
{
	width:100%;
	height:300%;
}
/*Flagstaff Styling*/
#Flagstaff
{
	height:300px;
	background-image:url(../Images/FlagstaffBackGroundPicture.jpg);
	background-size: 100% 100%;
}
.Flagstaff
{
	position:absolute;
	font-family:Brush Script MT;
	font-size:60px;
	color:#FF0;
}
/*Williams Styling*/
#Williams
{
	height:300px;
	background-image:url(../Images/WilliamsBackGroundPicture.jpg);
	background-size: 100% 100%;
}
.Williams
{
	position:absolute;
	font-family:Brush Script MT;
	font-size:60px;
	color:#FF0;
}
/*Great_Falls Styling*/
#Great_Falls
{
	height:300px;
	background-image:url(../Images/GreatFallsBAckGroundPicture.jpg);
	background-size: 100% 100%;
}
.Great_Falls
{
	position:absolute;
	font-family:Brush Script MT;
	font-size:60px;
	color:#FF0;
}
/*Everett Styling*/
#Everett
{
	height:300px;
	background-image:url(../Images/EverettBackGroundPicture.jpg);
	background-size: 100% 100%;
}
.Everett
{
	position:absolute;
	font-family:Brush Script MT;
	font-size:60px;
	color:#FF0;
}


